body {
    font-family: 'Roboto', 'sans-serif';
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Font Sizes */

.texto-header {
    font-size: 20px;
    font-weight: 600;
}

.contenedor-form label {
    font-size: 14px;
}

/* HEADER */

header {
    margin: auto;
    background-color: #eac926;
    padding-bottom: 20px;
}

.buscador {
    width: 32vw;
    border-radius: 12px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.buscador input {
    width: 85%;
    border: none;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 12px;
}

.buscador i {
    box-sizing: border-box;
    width: 16px;
}

.main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo {
    max-width: 50%;
}

.buscador {
    max-width: 50%;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.descripciones {
    display: none;
}

nav {
    display: none;
}

/* Burger Menu */

.burger-menu {
    background-color: #1259c3;
    display: block;
    color: white;
    text-align: center;
    height: 16px;
    width: 14px;
    padding: 8px;
    border-radius: 20%;
    margin: auto;
}

/* Formulario */

.formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 2px grey solid;
    border-radius: 14px;
    background-color: whitesmoke;
}

.contenedor-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.contenedor-form label {
    font-size: 18px;
    background-color: #39b54a47;
}

.botones {
    margin-top: 1%;
}

.botones button {
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.contenedor-form input {
    font-size: 18px;
    color: black;
}

.contenedor-form input:focus {
    border: 1px #1259c3 solid;
}

.botones button:hover {
    background-color:#1259c3;
}

.botones button {
    transition: background-color 0.5s;
}

@media (min-width: 679px) {

    /* Header */

    .main-header-top-bar {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .burger-menu {
        display: none;
    }

    .main-navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-navbar ul li {
        margin-right: 20px;
    }

    header button {
        max-height: 32px
    }

    /* Formulario */

    .formulario {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 20px;
        margin: 10px 200px;
        border: 2px grey solid;
        border-radius: 14px;
        background-color: whitesmoke;
    }

    .categorias {
        display: inline-block;
    }

    .texto {
        width: 300px;
    }

    /* Main */

    .descripciones {
        display: inherit;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

/*Desktop min-width:1200*/

@media (min-width: 679px) {
    .logo {
        max-width: 400px;
    }
}




