body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #eac926;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    margin: auto;
}

.buscador {
    width: 32vw;
    border-radius: 12px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.buscador input {
    width: 85%;
    border: none;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 12px;
}

.buscador i {
    width: 12%;
}

.main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo {
    max-width: 50%;
}

.buscador {
    max-width: 50%;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

/* Font Sizes */

.titulares {
    font-size: 24px;
}

.cuerpos-texto {
    font-size: 12px;
}

.texto-header {
    font-size: 12px;
    font-weight: 600;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
}

/* Burger Menu */

.burger-menu {
    background-color: #1259c3;
    display: block;
    color: white;
    text-align: center;
    height: 16px;
    width: 14px;
    padding: 8px;
    border-radius: 20%;
    margin: auto;
}

/* Formulario */

.create-form {
    background-color:white;
    padding: 20px 15px;
}

.control-form {
    margin-bottom: 15px;
}

.control-form label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 90%;
    padding: 8px;
}

.button-form {
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Main */

main {
    width: 100%;
    padding: 20px;
    background-color: whitesmoke;
}

.articulo {
    margin-bottom: 10px;
    background-color: white;
    box-sizing: border-box;
    max-width: 400px;
}

article div {
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
    width: 90%;
}

article img {
    width: 90%;
    padding-left: 5%;
}

.precios, .descuentos {
    display: inline-block;
    max-width: 50%;
}

.descuentos, .fa-truck {
    color: #39b54a; 
}

.fa-truck {
    display: inherit;
}

.descripciones {
    display: none;
}

nav {
    display: none;
}

.main-containerarticulos1, .main-containerarticulos2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.section-ultimavisita, .section-ofertasarticulos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

/* .articulo {
    flex: 1 1 23%;
    margin-bottom: 30px;
  } */

/* Footer */

footer {
    text-align: center;
    background-color: white;
    padding: 15px;
    padding-top: 50px;
}

footer i {
    color: #1259c3;
}

.footer-section {
    margin-bottom: 60px;
}

/*Tablet*/

@media (min-width: 679px) {

    /* Header */

    .main-header-top-bar {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .burger-menu {
        display: none;
    }

    .main-navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main-navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-navbar ul li {
        margin-right: 20px;
    }

    header button {
        max-height: 32px
    }

    /* Main */

    .descripciones {
        display: inherit;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

/*Desktop min-width:1200*/